# Ignore logs and temporary files
logs/
temp/
src/temp/
src/__pycache__/

# Ignore Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
config/zotero_config.yml